.login__bg {
    background-image: url(../Data/BackgroundImg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.newuser {
    padding-top: 10px;
    font-size: small;
}

.newsign {
    text-decoration: none;
}

.asideclass {
    color: red;
    font-size: small;
}